@import url(./global/header.css);
@import url(./global/global.css);
@import url(./utilidades/tipografia.css);

/*Ultilidades*/
@import url(./utilidades/componentes.css);

/*Home*/
@import url(./home/introducao.css);
