.texto-grande {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 64px;
  line-height: 1.125;
}

.texto-medio {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5;
}
